<html>


    <body>
        <h3>Inventory</h3>
        <table>
            <tr>
                <td>Funds:</td>
                <td><input ng-model="characterFunds" type="number"></td>
            <tr>
            <tr>
                <td>Value:</td>
                <td><input type="text" ng-disabled="true"></td>
            </tr>  
            <tr>
                <td>Weight:</td>
                <td><input ng-model="characterWeight" type="text" ng-disabled="true"></td>
            </tr>    
        </table>
        <table>
            <tr ng-repeat="item in inventory track by $index">
                <td>{{item.name}}</td>
                <td><input type="button" ng-disabled="hasSlotFromInventory(item)" ng-click="equipItemFromInventory(item,$index)" value="Equip"></td>
                <td><input type="button" ng-click="sellItemFromInventory(item,$index)" value="Sell"></td>
            </tr>
        
        </table>
        
        <h3>Available Slots</h3>
        <table>
            <tr ng-repeat="slot in equipedItems">
                <td>{{slot.slot}}</td>
                <td>{{slot.name}}</td>
                <td><input ng-disabled="!slot.name" ng-click="unequipItemFromSlot(slot.slot)" type="button" value="Unequip"></td>
            </tr>
        
        </table>
        
        
        <h3>Item Store</h3>
        
        <div ng-show="selectedItem">
        <h4>{{selectedItem.name}}</h4> 
            
            <i>{{selectedItem.shortDescription}}</i>
            
            <br> <br>
            
            <b>Benefit:</b> {{selectedItem.benefit}}
            
            <br> <br>
            
            <table>
                <tr>
                    <td>{{selectedItem.subtype}}</td>
                    <td>Cost</td>
                    <td>Dmg(S)</td>
                    <td>Dmg(M)</td>
                    <td>Critical</td>
                    <td>Range</td>
                    <td>Weight</td>
                    <td>Type</td>
                    <td>Special</td>
                </tr>
                <tr>
                    <td>{{selectedItem.name}}</td>            
                    <td>{{selectedItem.cost}}</td>
                    <td>{{selectedItem.damage.small}}</td>
                    <td>{{selectedItem.damage.medium}}</td>
                    <td>{{selectedItem.criticalRange}}/x{{selectedItem.criticalMultiplier}}</td>
                    <td>{{selectedItem.range}}</td>
                    <td>{{selectedItem.weight}}</td>
                    <td>{{selectedItem.types}}</td>
                    <td>{{selectedItem.specials}}</td>
                </tr>
            </table>
            
                <tr>
                    <td>{{selectedItem.source}}</td>
                    <td><input ng-disabled="selectedItem.cost > characterFunds" type="button" value="Buy" ng-click="buySelectedItem()"></td>
                </tr>
        </div>
        <h5>Weapons</h5>
        <select style="width:100%" multiple>
            <option ng-click="selectItem(weapon)" ng-repeat="weapon in weapons">{{weapon.name}}
            </option>
        </select>
        
    </body>


</html>