<html>


    <body>
        <h3>Inventory</h3>
        <table>
            <tr>
                <td>Funds:</td>
                <td><input ng-model="characterFunds" type="number"></td>
            <tr>
            <tr>
                <td>Value:</td>
                <td><input type="text" ng-disabled="true"></td>
            </tr>  
            <tr>
                <td>Weight:</td>
                <td><input ng-model="characterWeight" type="text" ng-disabled="true"></td>
            </tr>    
        </table>
        <table>
            <tr ng-repeat="item in inventory track by $index">
                <td>{{item.name}}</td>
                <td><input type="button" ng-disabled="hasSlotFromInventory(item)" ng-click="equipItemFromInventory(item,$index)" value="Equip"></td>
                <td><input type="button" ng-click="sellItemFromInventory(item,$index)" value="Sell"></td>
            </tr>
        
        </table>
        
        <h3>Available Slots</h3>
        <table>
            <tr ng-repeat="slot in equipedItems">
                <td>{{slot.slot}}</td>
                <td>{{slot.name}}</td>
                <td><input ng-disabled="!slot.item" ng-click="unequipItemFromSlot(slot.slot)" type="button" value="Unequip"></td>
            </tr>
        
        </table>
        
        
        <h3>Item Store</h3>
        
        <h4>Selected Item</h4>
        
        <table ng-show="selectedItem">
            <tr>
                <td>Name:</td>
                <td>{{selectedItem.name}}</td>
            </tr>
            <tr>
                <td>Description:</td>
                <td>{{selectedItem.shortDescription}}</td>
            </tr>
            <tr>
                <td>Proficiency:</td>
                <td>{{selectedItem.proficiency}}</td>
            </tr>
            <tr>
                <td>Cost:</td>
                <td>{{selectedItem.cost}}gp</td>
            </tr>
             <tr>
                <td>Weight:</td>
                <td>{{selectedItem.weight}}lbs</td>
            </tr>
            <tr>
                <td><input ng-disabled="selectedItem.cost > characterFunds" type="button" value="Buy" ng-click="buySelectedItem()"></td>
            </tr>
        </table>
        
        <h5>Weapons</h5>
        <select style="width:100%" multiple>
            <option ng-click="selectItem(weapon)" ng-repeat="weapon in weapons">{{weapon.name}}
            </option>
        </select>
        
    </body>


</html>